*{
    color: white;
    
    
}
body{
    background-color: black;
}
.contain{
    height: 562px;
    /* border: 2px solid red; */
    background-image: url("photo.jpg");
    background-repeat: no-repeat;
}
.navbar {
    background-color: black;
    border: 2px solid purple;
    border-radius: 30px;
    overflow: auto;
}
.navbar li {
    list-style: none;
    float: left;
    margin: 10px;
}
.social{
    text-decoration: none;
    color: purple;
}

.navbar li a {
    color: whitesmoke;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    font-weight: 500;
    font-size: 17px;
    font-family: Bluu Next, serif;
}
.toplogo{
    float: right;
    padding-right: 90px;

}
.navbar li a:hover{
    color: rgb(156, 77, 156);
}
.content{
    /* border: 2px solid red; */
    display: inline;
    position: absolute;
    left: 600px;
    top: 150px;
    text-align: center;
    box-sizing: border-box;
}
h1{
    text-decoration: underline;
    line-height: 0em;
    font-family: cursive;
}
span{
    font-size: 20px;
    font-family: cursive;
}
footer{
    background-color: black;
    border: 2px solid purple;
    color: whitesmoke;
    font-family: Bluu Next, serif;
    text-decoration: none;
    border-radius: 15px;
}
.last{
    width: 32.83%;
    /* border: 2px solid red; */
    text-align: center;
    display: inline-block;
    margin-bottom: 18px;

}
.link{
    text-decoration: none;
    line-height: 3em;
    font-size: 18px;
}
.lastlogo{
    width: 300px;
    padding-top: 50px;
    padding-left: 9px;
}
.link:hover{
    color: purple;
}